html {
	height : 100%;
}
body {
	margin : auto;
	width : 80%;
	min-width : 1000px;
	height : 100%;
	font-family: 'Jua', sans-serif;
}

a {
	text-decoration : none !important;
	color : #000;
}

li {
	list-style : none;
}

/* ------------------ header ----------------------*/

.header-main h1 {
	width : 600px;
	font-family : 'Gloria Hallelujah', cursive;
	font-size : 50px !important;
	height : 150px;
	margin-top : 60px;
	margin-left : 30px;
}

.header-main h1 a {
	color : #000;
}

.header-main h1 a>span {
	font-size : 80px;
	font-weight : bold;
	color : #ff9900;
}

.header-img{
	width : 200px;
	height : 200px;
	border : 1px solid #ddd;
}
.header-img>a{
	width : 100%;
	height : 100%;
}
.header-img>a>img{
	width : 100%;
	height : 100%;
}


/* -------------------header 끝 -------------------*/

.content{
	width : 80%;
	float : left;
	margin-bottom : 15px;
}

/* -------------------nav -------------------------*/

#sidebar {
	height : 80%;
}

.nav {
	height: 100%;
}
.nav>li>a {
	padding-top : 20px;
	display : block;
	color : #000;
}

.nav>li>a:hover {
	background: #ff9900;
	color : #fff;
}

.level1-active {
	background: #ff9900 !important;
	color : #fff !important;
}

.level2-active {
	color : #337ab7 !important;
}

.level1>ul {
	padding : 0;
	margin : 0;
}


.level2>li>a {
	padding : 20px 15px 10px 15px;
	display : block;
	background: #ffc180;
	color : #fff;
}

.level2>li>a:hover {
	color : #337ab7;
}

.level2 {
	display : none;
}

.fileDrop {
	width : 100%;
	height : 100px;
	border : 1px dashed #ddd;
	color: #999;
 	opacity: 1;
	text-align : center;
}

.fileDropFocus {
	border: 1px solid #66afe9 !important;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
          	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}

.modal-dialog img {
	max-width : 100% !important;
}
/* --------------- nav 끝 -------------------------- */


.form-control[readonly] {
    background-color: 	#fff9e5;
    opacity: 1;
}

#reply {
	border : 1px solid #eee;
	padding : 10px;
	margin-bottom : 10px;
}

#insertReply{
	border : 2px solid orange;
	border-radius : 15px;
	padding : 10px;
}


/* --------------- table -------------------------- */

table>thead {
	background : #ff9900;
	color : #fff;
}

/* ---------------display ------------------------- */

.center {
	text-align : center;
}

.right {
	text-align : right
}

.left {
	text-align : lefth;
}

.display-n {
	display : none;
}

.display-b {
	display : block;
}

.display-i {
	display : inline;
}

/* ---------------width, height ----------------------*/

.w-80 {
	width : 80%;
}

.w-30 {
	width : 30%;
}

.w-10 {
	width : 10%;
}

.w-15 {
	width : 15%;
}

.w-5 {
	width : 5%;
}



/* ---------------float, both, overflow --------------------*/

.o-h{
	overflow : hidden;
}

.f-r {
	float : right;
}

.f-l {
	float : left;
}

.c-b {
	clear : both;
}

/* ------------------ margin, padding, border --------------- */

.bd-orange {
	border : 5px solid #ff9900;
	border-radius : 15px;
}

.mg-0 {
	margin : 0 !important;
}

.mg-top5 {
	margin-top : 5px !important;
}

.mg-left10 {
	margin-left : 10px !important;
}

.mg-right10 {
	margin-right : 10px !important;
}

.mg-top10 {
	margin-top : 10px !important;
}

.mg-bottom10 {
	margin-bottom : 10px !important;
}

.mg-left30 {
	margin-left : 30px !important;
}

.mg-right30 {
	margin-right : 30px !important;
}

.mg-top30 {
	margin-top : 30px !important;
}

.mg-top70 {
	margin-top : 70px !important;
}

.mg-bottom30 {
	margin-bottom : 30px !important;
}
.pd-0{
	padding : 0px !important;
}


.pd-left10 {
	padding-left : 10px !important;
}

.pd-right10 {
	padding-right : 10px !important;
}

.pd-top10 {
	padding-top : 10px !important;
}

.pd-bottom10 {
	padding-bottom : 10px !important;
}

.pd-left30 {
	padding-left : 30px !important;
}

.pd-right30 {
	padding-right : 30px !important;
}

.pd-top30 {
	padding-top : 30px !important;
}

.pd-bottom30 {
	padding-bottom : 30px !important;
}

.pd10 {
	padding : 10px !important;
}


