<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="LoginMapper">
	<select id="getBySnsGoogle" resultType="User">
		select *
		from user
		where googleId = #{email};
	</select>
	<select id="getBySnsNaver" resultType="User">
		select *
		from user
		where naverId = #{email};
	</select>
	<select id="login" resultType="User">
		select *
		from user
		where uid = #{uid} and upw = password(#{upw})
	</select>
	<select id="keepLogin">
		update user
		set sessionkey = #{sessionId}, sessionlimit = #{expire}
		where uid = #{uid}
	</select>
	<select id="checkUserWithSessionKey" resultType="User">
		select *
		from user
		where sessionkey = #{loginCookie} and sessionlimit > now()
	</select>
</mapper>