<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="QuestionMapper">
	<delete id="deleteAttach">
		delete from attach
		where filename = #{fileName}
	</delete>
	<delete id="deleteAllAttach">
		delete from attach
		where qno = #{qno}
	</delete>
	<select id="getAttach" resultType="String">
		select filename
		from attach
		where qno = #{qno} 
	</select>
	<insert id="addAttach">
		insert into attach ( filename, qno )
		values( #{fileName}, last_insert_id())
	</insert>
	<insert id="appendAttach">
		insert into attach (filename, qno)
		values (#{fileName}, #{qno})
	</insert>
	<select id="listPage" resultType="Question">
		select *
		from question
		where qno > 0
		order by qno desc
		limit #{pageStart} ,#{perPageNum} 
	</select>
	<select id="getTotalNum" resultType="int">
		select count(qno)
		from question
		where qno > 0
	</select>
	<insert id="register">
		insert into question (title, content, writer, score)
		values (#{title}, #{content}, #{writer}, #{score})
	</insert>
	<select id="read" resultType="Question">
		select *
		from question
		where qno = #{qno}
	</select>
	<delete id="delete">
		delete from question
		where qno = #{qno}
	</delete>
	<update id="update">
		update question
		set content = #{content}, title = #{title}, score = #{score}
		where qno = #{qno}
	</update>
	<update id="updateReplyCnt">
		update question
		set replycnt = replycnt + #{amount}
		where qno = #{qno}
	</update>
	<update id="updateViewCnt">
		update question
		set viewcnt = viewcnt + 1
		where qno = #{qno}
	</update>
</mapper>